{% extends 'base.html' %}

{% block title %}{{ room_name }} | {% endblock %}

{% block content %}
</br>
<body>
    
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Listening Room</label>
                        <textarea readonly class="form-control" id="chat-text" rows="10"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    

    
    {{ room_name|json_script:"json_name" }}
    <!--{{ user_name|json_script:"json_user"}}-->
    <script>
        //const roomName = JSON.parse(document.getElementByID('json_name').textContent);
        //const user_username = JSON.parse(document.getElementByID('json_user').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/l_room/'
        );

        document.querySelector('#submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                //'user': user_username,
                
            }));
            messageInputDom.value = '';
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-text').value += (data.message + '\n')
            //document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n')
        };
    </script>
</body>
{% endblock %}


