{% extends 'base.html' %}

{% block title %} Create a Listening Room | {% endblock %}

{% block view_title %}
    <h1>Create a new Listening Session</h1>
{% endblock %}

{% block content %}
<div>
    <form method="POST" class="form">
        {% csrf_token %}
        <input class="form-control" type="text" placeholder="Room name here..." name="room_name"></br>
        <input class="form-control" type="text" placeholder="Enter the album name here..." name="album"></br>
        <button class="btn btn-primary btn-lg"  type="submit">Create!</button>   
    </form>
</div>


{% endblock %}