{% extends 'base.html' %}
{% block title %}
    A Serving of Brussels Sprouts - Discover Friends
{% endblock %}

{% block view_title %}
Discover Friends
{% endblock %}

{% load static %}

{% block content %}

<div class="card mb-5">
    <div class="card-body">
        <ul class="nav nav-pills mb-3 justify-content-between" id="pills-tab12" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="nav-profile-tab" data-toggle="pill" href="#nav-profile-underline-primary" role="tab"
                  aria-controls="nav-profile" aria-selected="false"><i class="mdi mdi-newspaper"></i> For You</a>
              </li>
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#nav-home-underline-primary" role="tab"
                aria-controls="nav-tabs" aria-selected="true"><i class="mdi mdi-magnify"></i> Discover Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <hr/>
        <div class="card-body">
      <h5 class="card-title">Discover Friends</h5>
      <p class="card-text pb-3">Discover new friends recommended for you! By default, we'll show you 2 users who share your
        likes for every 1 who shares your dislikes! You can tweak this at any time in 'Account Settings'.
      </p>
      <table style="border: 0.5px lightgray solid; border-radius: 10%;" id="productsTable" class="table table-hover table-product" style="width:100%">
        <thead>
          <tr>
            <th>Profile</th>
            <th>Username</th>
            <th>Email</th>
            <th>Followers</th>
            <th>Friends</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

            {% for member in memberlist %}
            <tr>
                <td class="py-0 pt-2">
                  <img src="{% static 'images/user/user-sm-04.jpg' %}" alt="Product Image">
                </td>
                <td>{{ member.username }}</td>
                <td>{{ member.email }}</td>
                <td>27</td>
                <td>1</td>
                <td>
                  <div id="tbl-chart-01"></div>
                </td>
                <td>
                  <div class="dropdown">
                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                    </a>
          
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">View Profile</a>
                      <a class="dropdown-item" href="#">Follow</a>
                      <a class="dropdown-item" href="#">DM User</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    <br/>
      <a href="#" class="btn btn-outline-primary btn-pill">Button</a>
    </div>
  </div>

{% endblock %}