{% extends 'base.html' %}
{% block title %}
    A Serving of Brussels Sprouts - Discover Friends
{% endblock %}

{% block view_title %}
Discover Friends
{% endblock %}

{% load static %}

{% block content %}

<div class="card mb-5">
    <div class="card-body">
      <ul class="nav nav-pills mb-3 justify-content-between" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-for-you-justify-content-between"
            role="tab" aria-controls="pills-home" aria-selected="true"><a href="{% url 'recommender:landing_member' %}"><i class="mdi mdi-comment-text"></i> For You</a></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-new-releases-justify-content-between"
            role="tab" aria-controls="pills-profile" aria-selected="false"><i class="mdi mdi-newspaper"></i> New Releases</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="mdi mdi-music"></i> Listening Rooms</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="{% url 'recommender:friend_recommendation' %}"
            role="tab" aria-controls="pills-profile" aria-selected="false"><i class="mdi mdi-magnify"></i> Discover Friends</a>
        </li>
    </ul>
        </div>
        <hr/>
        <div class="card-body">
          <form method="POST" action="{% url 'recommender:friend_recommendation' %}">
            {% csrf_token %}
            {{ form }}
            <br/>
            <div class="form-footer">
              <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          
          </form>
          <br/>
      <h5 class="card-title">Discover Friends</h5>
      <p class="card-text pb-3">Discover new friends recommended for you! By default, we'll show you 2 users who share your
        likes for every 1 who shares your dislikes! You can tweak this at any time in 'Account Settings'.
      </p>
      <table style="border: 0.5px lightgray solid; border-radius: 10%;" id="productsTable" class="table table-hover table-product" style="width:100%">
        <thead>
          <tr>
            <th>Profile</th>
            <th>Username</th>
            <th>Email</th>
            <th>Followers</th>
            <th>Friends</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

            {% for member in memberlist %}
            <tr>
                <td class="py-0 pt-2">
                  {% if not member.profile_picture %}
                        <img src="{%static 'images/user/user-sm-04.jpg' %}" alt="Avata Image">
                        {% else %}
                        <img style="width: 50px; height: 50px;" src="../images/{{member.profile_picture}}" alt="Profile Image">
                        {% endif %}
                </td>
                <td>{{ member.username }}</td>
                <td>{{ member.email }}</td>
                <td>27</td>
                <td>1</td>
                <td>
                  <div id="tbl-chart-01"></div>
                </td>
                <td>
                  <div class="dropdown">
                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                    </a>
          
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'recommender:user_profile' user_name=member.username %}">View Profile</a>
                      <form method="POST" action="{% url 'recommender:friend_user' %}?target={{ member.id }}">
                        {% csrf_token %}
                        <a class="dropdown-item" href="#">Add Friend</a>
                      </form>
                      <form method="POST" action="{% url 'recommender:create-thread' %}">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ member.username }}">
                        <input type="submit" style="border: none;" class="dropdown-item" href="#" value="DM User">
                        <!-- <a type="submit" style="border: none;" class="dropdown-item" href="#">DM User</a> -->
                      </form>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    <br/>
    </div>
  </div>

{% endblock %}