{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block title %} Inbox | {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12 p-5">
			<h3>Your Conversations</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 p-5">
			<form method="GET" action="{% url 'recommender:create-thread' %}">
				<button class="btn btn-secondary p-3" type="submit">Start a Conversation</button>
			</form>
		</div>
	</div>

	{% for thread in threads.all %}
	<div class="row mb-3">
		<div class="card col-md-12 p-5 shadow-sm">
			{% if thread.receiver == request.user %}
			{% if not user.profile_picture %}
			<h5><img class="user-image rounded-circle"
				src="{%static 'images/user/user-md-01.jpg' %}" style="width: 40px; height: 40px;"alt="Avata Image">{{thread.user.username}}</h5>
			{% else %}
			<p><img class="user-image rounded-circle" style="width: 40px; height: 40px;" src="../images/{{thread.user.profile_picture}}" alt="Profile Image"></p>
			{% endif %}
			{% else %}
			{% if not user.profile_picture %}
			<h5><img class="user-image rounded-circle"
				src="{%static 'images/user/user-md-01.jpg' %}" style="width: 40px; height: 40px;"alt="Avata Image">{{thread.receiver.username}}</h5>
			{% else %}
			<p><img class="user-image rounded-circle" style="width: 40px; height: 40px;" src="../images/{{thread.receiver.profile_picture}}" alt="Profile Image"></p>
			{% endif %}
			{% endif %}
			<a class="stretched-link" href="{% url 'recommender:thread' thread.pk %}"></a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}