{% extends 'base.html' %}
{% load static %}
{% block title %}
    For You Page
{% endblock %}
{% block view_title %}
For You Page
{% endblock %}
{% block content %}
    <h4>Songs to scroll:</h4>
    {% if memberlist %}
    <!--<div class="table-wrapper">
    <table class="table">
    <tbody>
    <tr>-->
    {% for members in memberlist %}
    <!--<td>-->
    <iframe src="https://open.spotify.com/embed/track/{{ members.track_id }}" width="240" height="304"
    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <!--</td>-->
    {% endfor %}
    <!--</tr>
    </tbody>
    </table>
    <div class="table-wrapper">-->
    {% endif %}
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in post_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        </div>
    </div>

{% endblock %}