{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--Login-->
<div>
    <h1>Login</h1>
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 75vh">
        <div class="d-flex flex-column justify-content-between">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
              <div class="card card-default mb-0">
                <div class="card-header pb-0">
                  <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                    <a class="w-auto pl-0" href="/index.html">
                      <img src="{%static 'images/logo.png' %}" alt="Mono">
                      <span class="brand-name text-dark">SBS</span>
                    </a>
                  </div>
                </div>
                <div class="card-body px-5 pb-5 pt-0">

                  <h4 class="text-dark mb-6 text-center">Sign In</h4>
                  <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ login_form.as_table }}
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <div class="col-md-12">

                        <button type="submit" class="btn btn-primary btn-pill mb-4">Sign In</button>

                        
                      </div>
                    <p>Don't have an account yet ?
                        <a class="text-blue" href="{% url 'recommender:get_register' %}">Sign Up</a>
                      </p>
                </form>
                </div>
              </div>
              <br/>
              <div class="container d-flex align-items-center justify-content-center">
                <div id="tokenSection" class="row">
                    <input class="mb-1 btn vimeo" type="button" onclick="requestAuthorization()"
                        value="Sign in with Spotify"><br />
                  </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}