{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block title %} Messaging {{thread.receiver.username}}{% endblock %}

{% block content %}

<div class="container">
	<a href="{% url 'recommender:inbox' %}"><button class="btn btn-light"><i class="mdi mdi-arrow-left"></i> Conversations</button></a>
	<div class="row">
		<div class="card col-md-12 mt-5 p-3 shadow-sm">
			{% if thread.receiver == request.user %}
			{% if not user.profile_picture %}
			<h5><img class="user-image rounded-circle"
				src="{%static 'images/user/user-md-01.jpg' %}" style="width: 40px; height: 40px;" alt="Avata Image">{{thread.user.username}}</h5>
			{% else %}
			<p><img class="user-image rounded-circle" style="width: 40px; height: 40px;" src="../images/{{thread.receiver.profile_picture}}" alt="Profile Image"></p>
			{% endif %}
			{% else %}
			{% if not user.profile_picture %}
			<h5><img class="user-image rounded-circle"
				src="{%static 'images/user/user-md-01.jpg' %}"  style="width: 40px; height: 40px;" alt="Avata Image">{{thread.receiver.username}}</h5>
			{% else %}
			<h5><img class="user-image rounded-circle" style="width: 20px; height: 20px;" src="../images/{{thread.receiver.profile_picture}}" alt="Profile Image"></h5>
			{% endif %}
			{% endif %}
		</div>
	</div>

	{% if message_list.all.count == 0 %}
	<div class="row my-5">
		<div class="col-md-12">
			<p class="empty-text">No Messages</p>
		</div>
	</div>
	{% endif %}
	<div class="card-body pb-0" data-simplebar style="height: 545px;">
	{% for message in message_list %}
	<div class="row">
		<div class="col-md-12 my-1">
			{% if message.sender_user == request.user %}
				<div class="sent-message my-3">
					{% if not user.profile_picture %}
					<p>	<img class="user-image rounded-circle"
						src="{%static 'images/user/user-md-01.jpg' %}" style="width: 40px; height: 40px;" alt="Avatar Image">{{message.body}}</p>
						<p>{{message.date}}</p>
					{% else %}
					<p><img class="user-image rounded-circle" style="width: 40px; height: 40px;" src="../images/{{thread.user.profile_picture}}" alt="Profile Image">{{ message.body }}</p>
					<p>{{message.date}}</p>
				</div>
					{% endif %}
				
			{% elif message.receiver_user == request.user %}
			{% if not user.profile_picture %}
			<div class = "received-message my-3">
			<p>	<img class="user-image rounded-circle"
				src="{%static 'images/user/user-md-01.jpg' %}"  style="width: 40px; height: 40px;" alt="Avata Image">{{message.body}}</p>
				<p>{{message.date}}</p>
			{% else %}
			<p><img class="user-image rounded-circle" style="width: 40px; height: 40px;" src="../images/{{thread.receiver.profile_picture}}" alt="Profile Image">{{ message.body }} </p>
			<p>{{message.date}}</p>
			{% endif %}
			{% endif %}
		</div>
		</div>
	</div>
	{% endfor %}
</div>

	<div class="row">
		<div class="card col-md-12 p-3 shadow-sm">
			<form method="POST" action="{% url 'recommender:create-message' thread.pk %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form}}

				<div class="d-grid gap-2 mt-3">
					<button class="btn btn-secondary" type="submit">Send Message</button>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock  %}