{% extends 'base.html' %}
{% block title %}
A Serving of Brussels Sprouts
{% endblock %}

{% block view_title %}
Account Settings
{% endblock %}

{% load static %}

{% block content %}

<div class="card card-default card-profile">

  <div class="card-header-bg" style="background-image:url(assets/img/user/user-bg-01.jpg)"></div>

  <div class="card-body card-profile-body">

    <div class="profile-avata">
      {% if not user.profile_picture %}
      <img class="user-image rounded-circle" src="{%static 'images/user/user-md-01.jpg' %}" alt="Avata Image">
      {% else %}
      <img class="user-image rounded-circle" style="width: 120px; height: 120px;" src="images/{{user.profile_picture}}" alt="Profile Image">
      {% endif %}
      <a class="h5 d-block mt-3 mb-2" href="#">{{ user.first_name }} {{user.last_name}}</a>
      <a class="d-block text-color" href="#">{{ user.email }}</a>
    </div>

    <ul class="nav nav-profile-follow">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="h5 d-block">{{ playlist_count }}</span>
          <span class="text-color d-block">Playlists</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="h5 d-block">{{ user.friend_count }}</span>
          <span class="text-color d-block">Friends</span>
        </a>
      </li>

    </ul>

    <div class="profile-button" data-toggle="tooltip" data-placement="top"
      title="You have already reached the maximum tier available.">
      <a class="btn btn-primary btn-pill disabled" href="user-planing-settings.html">Upgrade Plan</a>
    </div>

  </div>

  <div class="card-footer card-profile-footer">
    <ul class="nav nav-border-top justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'recommender:user_preferences' %}">Music Preferences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'recommender:user_account_settings' %}">Friend Preferences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'recommender:change_profile_settings' %}">Settings</a>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-xl-3">
    <!-- Settings -->
    <div class="card card-default">
      <div class="card-header">
        <h2>Settings</h2>
      </div>

      <div class="card-body pt-0">

        <ul class="nav nav-settings">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'recommender:user_preferences' %}">
              <i class="mdi mdi-music mr-1"></i> Music Preferences
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recommender:user_account_settings' %}">
              <i class="mdi mdi-account-outline mr-1"></i> Friend Preferences
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recommender:change_profile_settings' %}">
              <i class="mdi mdi-settings-outline mr-1"></i> Settings
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>
  <div class="col-xl-9">
    <!-- Account Settings -->
    <div class="card card-default">
      <div class="card-header">
        <h2 class="mb-5">Account Settings</h2>

      </div>

      <div class="card card-default">
        <div class="card-header">
          <h2>My Preferences</h2>
          <a class="btn mdi mdi-code-tags" data-toggle="collapse" href="#collapse-card-1" role="button"
            aria-expanded="false" aria-controls="collapse-card-1"> </a>


        </div>
        <div class="card-body">
          Likes
          <hr />
          <ul>
            {% for like in likes %}
            <li>{{ like }}</li>
            {% endfor %}
          </ul>
          <br />
          Dislikes
          <hr />
          <ul>
            {% for dislike in dislikes %}
            <li>{{ dislike }}</li>
            {% endfor %}
          </ul>
          <br />
          <form method="POST" action="{% url 'recommender:user_preferences' %}">
            {% csrf_token %}
            {{ preference_form }}
            <div class="form-footer mt-4">
              <button type="submit" name="preferences_dislike" class="btn btn-primary btn-pill">Add to dislikes</button>
              <button type="submit" name="preferences_like" class="btn btn-primary btn-pill">Add to likes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




</div>
</div>

{% endblock %}